body {
  background: linear-gradient(to right, rgb(78, 203, 131), rgb(78, 111, 250));
}

.App {
  background: whitesmoke;
  width: 60%;
  margin: 5% auto;
  padding: 2% 5%;
  text-align: center;
  box-shadow: 5px 5px 5px #555;
}

.counter {
  text-shadow: 5px 5px 5px rgb(243, 52, 18);
}